<div class="container">
    <div class="row">
        <app-filter books="$ctrl.books" typeAttr"genre"></app>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="item in $ctrl.books">
            <div class="well text-center">
                <p>name: {{item.name}}</p>
                <p>author: {{item.author}}</p>
                <p>genre: {{item.genre}}</p>
                <p>short description: {{item.shortDesc}}</p>
                <p>price: {{item.price}}</p>
                <p>
                    <a class="btn btn-default" href="#!/books/{{item.id}}">additional information</a>
                </p>
            </div>
        </div>
    </div>
</div>
